language: node_js
node_js:
- 8.9.2
notifications:
  email:
    on_success: never
    on_failure: always
script:
- npm test
before_deploy:
- npm run build
deploy:
  provider: npm
  email: sandbox_JSUI@coveo.com
  api_key:
    secure: bJCAqHCRIgquFcxcs7VsLwWvSz9nNgS/tcahxD/UJQvV3S16OpxOwq1ULW0W/3GNeloTL1dLS3BctRN55pXJsGffJRcZ+2f7zKsLtiWNZXctH5488z34LN6kyyyJmrV4kLYK5XxyWYsiE2GQJFx2sbPla7lC1zA4F9JX3auRLUjvYUUlktvr8rF1u+sXyxJb2/RM9JUbBNyLz7o/SsOa7K4F79AzEAsn+ANh2iPERRVVdBhZPacdb8d2c4wVzsmfG8WX12+yu36wZOdPkK+KQyQkeDc9PA6QXqaZvCNZRt5fli5fH7dpQVZGM/kvdQ0CfAFTTaBkwK0yUB929qOFY1RbrdHfBYW4JSHJ871wE1EqAsgUAaw8OKVQ18nVjb36dEh+KE69iWhDDsnRxM24Z4HS+lbWk5hz1knu1aaamwBKYnQ+gAVD/ZG+5UEM9bxAxT+jsIlMiJbxnXSu2Xn9TB55kizWOLjh0u/McXkdy06kXQb5T867ouC4UT8rXZB1f3hjr0Rzcge/pjR56XY+sGkJWgypGGXsMr09e/EG7TdE4LogMElUy6cRF2wt3hfmLgMrGUwMbD7XcB2wDfedRu4OKMInCj0NoWyvCagkJ4hqpTpqm33ea+CQVyI1vs1ddIjyCHbAFaVJH2yrOmfhBa8b9+BqW1Te4baRchslos0=
  on:
    tags: true
    repo: coveo/exponential-backoff
